<a href="https://colab.research.google.com/github/aharnishdwivedi/python-practice/blob/main/lab_exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: WAP to add three numbers and print result. Also use Comments in the code.

Exercise 2: WAP to display your name & roll number in python.

Exercise 3: WAP to add three numbers, inputs from user and print result Try: In above program, give number in place of string and try to get the difference between input() and raw_input() function.

Exercise 4: WAP to concatenate your first & last name. Take inputs from keyboard and then print

Exercise 5: WAP to declare three variables x,y and z and assign the values 33, 17.5 and "Python" in one single line & print data type of each variable.

Exercise 6: WAP to convert an integer variable x=17 into complex number

In [ ]:
#soln 1
a = int(input("Enter First number: "))
b = int(input("Enter Second number: "))
c = int(input("Enter Third number: "))
print(a+b+c)

Enter First number: 2
Enter Second number: 3
Enter Third number: 3
8

In [ ]:
#soln2
name = "Aharnish Dwivedi"
roll = int(191347)

print("My Name is ")
print(name)
print("\nMy roll number is ")
print(roll)

My Name is
Aharnish Dwivedi

My roll number is
191347

In [ ]:
#soln3
a = int(input("Enter First number: "))
b = int(input("Enter Second number: "))
c = int(input("Enter Third number: "))
print(a+b+c)

Enter First number: 2
Enter Second number: 3
Enter Third number: 3
8

In [ ]:
#soln4
f_name = input("Enter First Name: ")
l_name = input("Enter Last Name: ")

print(f_name+" "+l_name)

Enter First Name: aharnish
Enter Last Name: dwivedi
aharnish dwivedi

In [ ]:
#soln5
a,b,c=33,17.5,"python"
type(a)
type(b)
type(c)

str

In [ ]:
#soln6
x=17
x=complex(x)
x

(17+0j)

In [ ]:
p = float(input("Enter the principal amount: "))
t = float(input("Enter the time in years: "))
r = float(input("Enter the interest rate: "))

simple_interest = p * t * r / 100

print("Simple Interest = %.2f" %simple_interest)

Enter the principal amount: 500
Enter the time in years: 5
Enter the interest rate: 2
Simple Interest = 50.00