<a href="https://colab.research.google.com/github/aharnishdwivedi/python-practice/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

def squaresum(n) : 
 
    sm = 0
    for i in range(1, n+1) : 
        sm = sm + (i*i*i) 
      
    return sm 
  

n = 10
print(squaresum(n))

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
n=20
for i in range(1, 13):
    print(' '*n, end='')
    print('@ '*(i))
    n-=1

                    @
                   @ @
                  @ @ @
                 @ @ @ @
                @ @ @ @ @
               @ @ @ @ @ @
              @ @ @ @ @ @ @
             @ @ @ @ @ @ @ @
            @ @ @ @ @ @ @ @ @
           @ @ @ @ @ @ @ @ @ @
          @ @ @ @ @ @ @ @ @ @ @
         @ @ @ @ @ @ @ @ @ @ @ @

In [ ]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num, num*num)

Enter lower range: 2
Enter upper range: 23
2 4
3 9
5 25
7 49
11 121
13 169
17 289
19 361
23 529

In [ ]:
def compound_interest(principle, rate, time):
    Amount = principle * (pow((1 + rate / 100), time))
    CI = Amount - principle
    print("Compound interest is", CI)

p = float(input("principle: "))
r = float(input("rate: "))
t = float(input("time: "))
compound_interest(p, r, t)

principle: 333
rate: 34
time: 5
Compound interest is 1105.6933140192004

In [ ]:
print("hello world")

hello world

In [ ]:
number=int(input("Enter Number"))
if number>=0:
  print("positive Number")
else:
  print("Negative Number")

Enter Number34
positive Number

In [ ]:
year=int(input("Enter Year "))
if year%4==0:
  print("leap year")
else:
  print("normal year")

Enter Year2015
normal year

In [ ]:
ch = input("Enter a character: ")
if((ch>='a' and ch<= 'z') or (ch>='A' and ch<='Z')):
    print(ch, "is an Alphabet")
else:
    print(ch, "is not an Alphabet")

Enter a character: A
A is an Alphabet

In [ ]:
ch = input("Enter a character: ")

if(ch=='A' or ch=='a' or ch=='E' or ch =='e' or ch=='I'
 or ch=='i' or ch=='O' or ch=='o' or ch=='U' or ch=='u'):
    print(ch, "is a Vowel")
else:
    print(ch, "is a Consonant")

Enter a character: a
a is a Vowel

In [ ]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
 

sum = float(num1) + float(num2)
 

print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 23
Enter second number: 3
The sum of 23 and 3 is 26.0

In [ ]:
num = int(input("Enter a number: "))  
  
if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print(num,"is not a prime number")  
           print(i,"times",num//i,"is",num)  
           break  
   else:  
       print(num,"is a prime number")  
         
else:  
   print(num,"is not a prime number")

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 12
12 is Even

In [ ]:
dec = int(input("Enter Decimal Number "))

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")

Enter Decimal Number 16
The decimal value of 16 is:
0b10000 in binary.

In [ ]:
num = int(input("Enter Number"))
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter Number12
The factorial of 12 is 479001600

In [ ]:

num1 = bin(input("Enter Binary num1"))

num2 = bin(input("Enter Binary num2"))


sum = bin(int(num1) + int(num2))
print(sum)

Enter Binary num110

TypeError: ignored

In [ ]:

def print_first_N_primes(N): 
  
   
    i, j, flag = 0, 0, 0; 
  
    
    print("Prime numbers between 1 and ", 
                            N , " are:"); 
  
    for i in range(1, N + 1, 1): 
  

        if (i == 1 or i == 0): 
            continue; 
  

        flag = 1; 
  
        for j in range(2, ((i // 2) + 1), 1): 
            if (i % j == 0): 
                flag = 0; 
                break; 
  

        if (flag == 1): 
            print(i, end = " "); 
  
N = 100; 
print_first_N_primes(N);

In [ ]:
def add(a,b):

     return a + b

#when i call this function with arguments it will print the addition of the two numbers

print(add(10,15))

25

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:4
Enter element:1
Enter element:3
Enter element:5
Enter element:7
Enter number of elements:4
Enter element:2
Enter element:4
Enter element:6
Enter element:8
Sorted list is: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
import random
i = 0

while(i<3):
  x=random.randint(1,6)
  y=random.randint(1,6)
  z = x+y
  y=int(input("Guess number: "))
  if y == z:
    print("you won")
  else:
    print("sorry correct answer was:",z)
    i+=1

Guess number: 4
sorry correct answer was: 10
Guess number: 4
sorry correct answer was: 11
Guess number: 4
sorry correct answer was: 9